/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

#form-container {
    margin-top: 30px;
    display: flex;
    width: 60%;
    margin-left: 20%;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 15px orange;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-left: 5%;
  }
  
  input {
    width: 100%;
    margin: 5px 0;
    height: 2.5em;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 15px;
    border: none;
    background: rgb(235, 228, 228);
  }
  
  textarea {
    width: 100%;
    margin: 5px 0;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 15px;
    border: none;
    background: rgb(235, 228, 228);
  }
  
  input[type="submit"] {
    margin: 10px auto;
    width: 120px;
    background-color: orange;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: orange;
  }
  
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: gray;
color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}